# === Python ===
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo

# === 安装 ===
*.egg
*.egg-info/
*/*.egg-info
build/
dist/
*.whl
*.tgz

# === 测试缓存 ===
.pytest_cache/
.ipynb_checkpoints/

# === 开发环境 ===
.vscode/
.idea/
.env
ENV/
env/
.venv/
venv/
*/ENV/
*/env/
*/.venv/
*/venv/
*/lib/
*/lib64
*/bin/
*/include/
*/pyvenv.cfg


# === 输临时目录 ===
*.npz
*.log
*.tmp
*.swp
# === 垃圾文件 ===
.DS_Store
Thumbs.db

outputs/
*.lock
!uv.lock
