# === Python ===
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
*/*.egg-info

# === 安装 ===
build/
dist/
*.whl
*.tgz

# === 测试缓存 ===
.pytest_cache/

# === 开发环境 ===
.vscode/
.idea/
.env

# === rdf/文件 ===
rdf/lib/
rdf/lib64/
rdf/bin/
rdf/include/
rdf/pyvenv.cfg
rdf/*.egg-info/

# === 输临时目录 ===
/tmp*/
*/tmp*/
*.zip
*.cif

# === 垃圾文件 ===
.DS_Store


